node_modules
.DS_Store
tmp
docs
npm-debug.log
bower_components
dist
Node_Framework.sublime-project
Node_Framework.sublime-workspace
project.sublime-project
project.sublime-workspace
/test*.js
/dump_*.txt
/parsed_*.txt
/outdir
/*.ann
*.swp
.jshintrc
